# Itens gerais para não subir ao github.
.env


# pycache e elementos do VsCode
__pycache__/
*.pyc
.vscode/


# Itens não necessários do projeto para subir.
project/storage/*
project/build/**


# Instaladores
release/windows/**


# teste pessoais realizados. Não necessários subir ao github.
test/**


# Áudio: processo de áudio executável. Player necessita dele para reproduzir as músicas.
audio/**
!audio/audio_main.py


# Conteúdos de assets que não devem subir ao github
client_secret_google.json
audio_main.exe
information_main.exe


# informations
information/**
!information/README.md
# !information/information_main_example.py